# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [3]:
numberfloat = 2.3
print (numberfloat)
numberfloat = 7.2
print (numberfloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [6]:
num1 = 2
num2 = 5.4

result = num1 + num2

print (result)

# result += 2
print (result +2)

7.4
9.4

##### Subtraction

In [14]:
result_diff = num2 - num1
print (result_diff)

result_diff -= 1
print (result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [10]:
result_mul = num1 * num2 
print (result_mul)

result_mul *= 2 
print(result_mul)

10.8
21.6

##### Division

In [11]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [12]:
result_floor = num2 // num1
print(result_floor)

result_floor //=2
print(result_floor)

2.0
1.0

modulo remains

In [19]:
result_mod = 13 % 2
print (result_mod)

result_mod %= 2
print (result_mod)

1
1

##### Exponential

In [21]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
name = 'Andrea'
print (name)

Andrea

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print("this is my first name: ", name)

print("full name:", name, end= " Zuch")

this is my first name:  Andrea
full name: Andrea Zuch

##### String Concatenation

In [74]:
first_name= "Andrea"
last_name="Zuch"

full_name = first_name + " " + last_name
print(full_name)

Andrea Zuch

##### Type Conversion

In [37]:
number = "32" 

change_type_num = int(number)
print(number)
print(change_type_num +1)

32
33

##### input()

In [45]:
#input will always return a string

age = int(input ("what is your age?: "))
add_age = age + 5           
print(add_age)

what is your age?: 35
40

##### format()

In [48]:
age = input ('what is your age? ')

result_string = "you are {} {} and you are getting wiser" .format (age, full_name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

what is your age? 35
you are 35 Andrea Zuch , Sr and you are getting wiser
35 is a great time in life!!!

##### Old Way (python 2)

In [56]:
result_string2 = "you are %s and you look great for your age!" %age
print(result_string2)

you are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [77]:
color = input ("whats is the color of your vehicle? ")
year = input ("what is the year of your vehicle? ")
make = input ("what is the make of your vehicle? ")
model = input ("what is the model of your vehicle? ")

vehicle_results = (full_name + " ,you drive a {}, {}, {}, {}," .format  (color, year, make, model))
print(vehicle_results)

whats is the color of your vehicle? grey
what is the year of your vehicle? 2018
what is the make of your vehicle? toyota
what is the model of your vehicle? tacoma
Andrea Zuch ,you drive a grey, 2018, toyota, tacoma,

### If Statements

In [85]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 8
# if num1 == num2:
#     print('equal values')
    
# else:
#     print('that thing was not true it is false!')
    
if num2> num1:
    print('num2 is greater')
elif num1 > num2:
    print('num1 is greater')
else:
    print("equal values")

num2 is greater

##### 'is' keyword

In [87]:
# the "is" keyword is for checking for the same object, but not the same value

num3 = 55

if num3 == 55:
    print("this is the exact number/object")

this is the exact number/object

##### 'in' keyword

In [93]:
# chck if a character is in a string 

char_name = "frodo"

if "frodo" in char_name:
    print("yasssss")

yasssss

##### 'not in' keyword'

In [95]:
char_name = 'frodo'

if "dumpling" not in char_name:
    print("nooooooo")

nooooooo

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [130]:
user_input = input ("what is your input? ")

if 'p' not in user_input:
    print('p is NOT here. .  .')
if 'p' in user_input:
    print('p is here. . .')

what is your input? poopy
p is here. . .

## Using 'and'/'or' with If Statements

In [4]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# if with 'and statement'
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
    #if with 'or' statement
if num_13 > num_14 or num_11 == num_12:
    print ('True and False')

True and True
True and False

### Elif Statements

In [5]:
first_name = input('what is you name?')

if first_name == 'Smith':
    print('the name is Smith')
elif first_name == 'brandon':
    print ('The name is brandon')
elif first_name != "max":
    print('the name is NOT Max')
else:
    print('the name is Max')

what is you name?Gerald
the name is NOT Max

### Else Statements

In [ ]:
# see above

### For Loops

In [11]:
#syntax:
# for  counter in condition

name = "Andrea Zuch"
a_list = [1,2,3,4]

for i in a_list:
    print (i)

1
2
3
4

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [13]:
for i in range (20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [111]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [96]:
for i in name:
    pass

##### Double For Loops

In [16]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j =', j)

i =  0 j = 0
i =  0 j = 1
i =  0 j = 2
i =  0 j = 3
i =  0 j = 4
i =  1 j = 0
i =  1 j = 1
i =  1 j = 2
i =  1 j = 3
i =  1 j = 4
i =  2 j = 0
i =  2 j = 1
i =  2 j = 2
i =  2 j = 3
i =  2 j = 4
i =  3 j = 0
i =  3 j = 1
i =  3 j = 2
i =  3 j = 3
i =  3 j = 4
i =  4 j = 0
i =  4 j = 1
i =  4 j = 2
i =  4 j = 3
i =  4 j = 4

### While Loops

In [137]:
#syntax:
# while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [19]:
game_over = True

while game_over:
    print('Infinite Loop')
    user_input = input('would you like to stop?')
    if user_input == 'yes':
        game_over = False

Infinite Loop
would you like to stop?no
Infinite Loop
would you like to stop?no
Infinite Loop
would you like to stop?no
Infinite Loop
would you like to stop?maybe
Infinite Loop
would you like to stop?yes

##### While & For Loops Used Together

In [22]:
num = 0

while num < 5:
    print("\nwhile loop iteration: " +str(num))
    
    for i in range(2):
            print("for loop iteration: ", str(i + 1))
            
    num += 1

while loop iteration: 0
for loop iteration:  1
for loop iteration:  2

while loop iteration: 1
for loop iteration:  1
for loop iteration:  2

while loop iteration: 2
for loop iteration:  1
for loop iteration:  2

while loop iteration: 3
for loop iteration:  1
for loop iteration:  2

while loop iteration: 4
for loop iteration:  1
for loop iteration:  2

### Built-In Functions

##### range()

In [25]:
# range (start, stop, step)

for i in range(1, 20,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

##### len()

In [27]:
name = "Max"

length = len(name)
print(length)

3

##### help()

In [29]:
# use this function to view more info about a python function
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [32]:
# check a varible to find out what object family (or data type) it belongs to 
#isinstance(var, type)

num = 4 
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num}is a float!")

4 is an int

##### abs()

In [33]:
#|-5| = 5

print(abs(-5))

5

### Try and Except

In [38]:
#use this to log out graceful and useful error messages
#does not stop the program! Neato

try:
    input_num = int(input('guess a number '))
    print('Your number is ' + str(input_num))
except:
    print("that didnt work! change your input to a number")

guess a number g
that didnt work! change your input to a number

### Lists

##### Declaring Lists

In [41]:
list_1 = []

names = ['max','cindy','kathy','bob','nate']
print(names)

['max', 'cindy', 'kathy', 'bob', 'nate']

##### Indexing a List

In [49]:
# list_name[start: stop: step]

#single index
print(names[1])

#print starting at index 1 going to the end
print(names[1:])

#print starting at the beginning of a list up until a number
print(names[:2])

#print starting at index 1 and going up BY 2 in each iteration
print(names[1::2])

#print starting at the back and display in reverse order
print(names[::-1])

cindy
['cindy', 'kathy', 'bob', 'nate']
['max', 'cindy']
['cindy', 'bob']
['nate', 'bob', 'kathy', 'cindy', 'max']

##### .append()

In [68]:
names.append('Drea')
print(names)

['max', 'cindy', 'Devon', 'Devon', 'nate', 'Drea']

##### .insert()

In [66]:
names.insert(3,'Devon')
print(names)

['max', 'cindy', 'Devon', 'Devon', 'nate', 'Drea']

##### .pop()

In [74]:
#Defaults to the last value if no parameter is given
#pop returns the element that was removed in case you want to assign it to a variable

my_name = names.pop()
print(my_name)
print(names)

Drea
['max', 'nate']


##### .remove()

In [76]:
# Value to be removed rather that index
names.remove('Devon')
print(names)

#remove multiple Devons from list
while 'Devon' in names:
    names.remove('Devon')
print(names)

ValueError: list.remove(x): x not in list

##### del()

In [77]:
#goes by index,rather than value
#be careful with del, it can cause indexing errors if not used carefully

del(names[1])
print(names)

['max']

##### Concatenating Two Lists

In [78]:
# will append two lists togther;p will NOT add the values!!!

list_2 = [0,1,2]
list_3 = [3,4,5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [81]:
# lists can hold any type of other element! including other lists!
#they can go as deep as you want; this is called nested lists

names = ["max","sam","josh",["sally",["sue","jim"],"tameka"]]
print(names)
print(names[3][1][1])

['max', 'sam', 'josh', ['sally', ['sue', 'jim'], 'tameka']]
jim

##### Looping Through Lists

In [1]:
# two ways to loop through a list! one is by index; the other is by using the 'in' keyword

# By index
for i in range(len(names)):
    print(names[i])
# loop with 'in'
for i in names:
    print(i)

NameError: name 'names' is not defined

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [18]:


    Cubes=[]
for i in range(10):
      Cubes.append(i**3)
print(Cubes)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [3]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break


 
for i in range(2,101): 
    for j in range(2,101):
        if i%j == 0:
            break
    if i == j:
        print(i,end=",")

2,3,5,7,11,13,17,19,23,29,31,37,41,43,47,53,59,61,67,71,73,79,83,89,97,

#Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors

In [17]:
age = int(input("What is your age?: "))
if age < 18:
    print("you are a kid")
elif age > 65:
    print("you are an elder")
else:
    print('you are an adult')

What is your age?: 40
you are an adult